<p>Welcome, <%= @user.username %>!</p>
<form action="/dives" action="post">
<a href="/login">Login page</a>
<input type="submit" value="Login">
<br><br>
<a href="/signup">Signup page</a>
<input type="submit" value="Signup">
</form>
