<title>Scuba Logbook</title>
<p>Welcome, <%= @user.username unless @user.blank? %>!</p>

<h2>Menu</h2>
<table>
  <tr><td><a href='/dives'>Display Dives</a></td><tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td><a href='/dives/create_dive'>Create New Dive</a></td><tr>
</table>
