<h2>Divers</h2>

<h3>Sign Up</h3>
<form action="/signup" method="post">
  <p>username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="Sign Up">
</form>
